@{
    ViewData["Title"] = "Acerca de";
}

<div class="container mt-5">
    <h2 class="fw-bold mb-3 text-dark text-center">ACERCA DEL PROYECTO</h2>
    <p>
        Este proyecto consiste en el desarrollo de un Sistema de Gestión de Despachos de productos, diseñado para automatizar y optimizar los procesos logísticos de una entidad. El sistema fue implementado utilizando el lenguaje de Programación C# y el Framework ASP.NET Core MVC, lo que permite una arquitectura robusta y escalable. Además, se integró Entity Framework para la gestión eficiente de la base de datos y la interacción con los datos de manera segura y rápida.
    </p>
    <div class="card shadow-sm p-4">
        <div class="my-4 text-center">
            <h2>DIAGRAMA ENTIDAD RELACION</h2>
            <img src="~/images/diagrama.png" class="img-fluid rounded shadow" alt="Diagrama ER" />
        </div>
    </div>
</div>
