@{
    ViewData["Title"] = "Inicio";
}

<section class="container mt-5">
    <div class="card shadow-sm border-0 rounded-4 p-5 text-center bg-white">
        <h1 class="fw-bold mb-3 text-dark text-center">BIENVENIDOS AL SISTEMA DE GESTION DE DESPACHOS!</h1>

        <h3 class="fw-bold mb-4 text-dark" style="font-family: 'Helvetica Neue', sans-serif;">INTEGRANTES</h3>

        <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
                <div class="card h-100 border-0 shadow-sm rounded-3" style="background-color: #f7f7f7;">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bold text-dark" style="font-family: 'Helvetica Neue', sans-serif;">FACUNDO BARRIOS</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card h-100 border-0 shadow-sm rounded-3" style="background-color: #f7f7f7;">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bold text-dark" style="font-family: 'Helvetica Neue', sans-serif;">IAN PORTELA</h4>
                    </div>
                </div>
            </div>
        </div>

        <p class="mt-4 text-muted" style="font-family: 'Helvetica Neue', sans-serif;">UTN FRRA | PROGRAMACION 3 - 2025</p>
    </div>
</section>


